<div class="w3-container w3-padding-64" id="uebermich">
  <div class="w3-content">
    <h3 class="w3-center">Über mich</h3>
    <p class="w3-center">
      <em>
        Meditation und die Kraft des bewussten Atmens faszinieren mich - sie
        lassen mich immer wieder zu Ruhe und Klarheit in mir kommen und
        Verbundenheit mit der Welt um mich herum spüren.
      </em>
    </p>
    <p>
      Als glückliche Mutter zweier erwachsener Kinder und über 30 Jahre
      Berufstätigkeit bei einer UNO Organisation kenne ich Herausforderungen
      gut. Durch meine Aus- und Weiterbildungen als Integrative
      Atemtrainerin habe ich erfahren wie wohltuend sich Atem- und
      Körperübungen auf meine Gesundheit, meine Präsenz und Lebensfreude
      auswirken.<br />
      Ich freue mich, meinen Erfahrungsschatz weiter zu geben und Menschen
      in Workshops und Einzelbegleitung mit der Kraft des Atems vertraut zu
      machen - einer Kraft, die immer für uns da ist. Bewusstes Atmen ist
      eine Selbsterfahrungsreise, die dazu anregt, die Atemräume besser zu
      nutzen und das Herz-Kreislauf-System zu unterstützen. Gleichzeitig
      wird die Wahrnehmung des Körpers und der Gefühle bewusster. Die
      Stressregulation verbessert sich und das Vertrauen in die eigene
      Körperweisheit wird stärker.
    </p>
    <div class="w3-row">
      <div class="w3-col m6 w3-center w3-padding-large">
        <img
          src="assets/brigitte.jpg"
          class="w3-round full-width"
          alt="Photo of Me"
        />
      </div>

      <!-- Hide this text on small devices -->
      <div class="w3-col m6 w3-hide-small w3-padding-large">
        <h4>Ausbildungen und Kurse</h4>
        <ul>
          <li>
            2021 - 2024 Atemtrainerin, integrative Atemtherapie, Verein
            Atman
          </li>
          <li>
            2020 - 2023 Ausbildung in körperorientiertem Sexualcoaching für
            Frauen ("Perlentor" und "Jadetor" bei Nhanga Grunow, DE)
          </li>
          <li>Meditation, MBSR (verschiedene Lehrer)</li>
          <li>Gewaltfreie Kommunikation (Brigitte Puhr)</li>
          <li>
            „Female healing - Universal Healing Tao" bei Lehrern von Mantak
            Chia, Thailand
          </li>
        </ul>

        <h4>Berufliche Tätigkeit</h4>
        <ul>
          <li>
            1989 - 2021 Planung und Implementierung von Projekten einer UNO
            Sonderorganisation
          </li>
          <li>Seit 2022 Ehrenamtliche Tätigkeit, Rotes Kreuz</li>
        </ul>
      </div>
    </div>
  </div>
</div>
