<div class="w3-top">
  <div class="w3-bar" id="myNavbar" [class.w3-card]="isScrolled" [class.w3-animate-top]="isScrolled" [class.white-bg]="isScrolled">
    <a
      class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right"
      href="javascript:void(0);"
      (click)="toggleMenu()"
      title="Toggle Navigation Menu"
    >
      <i class="fa fa-bars"></i>
    </a>
    <a class="w3-bar-item w3-button" (click)="scrollTo('home')" href="javascript:void(0)">HOME</a>
    <a class="w3-bar-item w3-button w3-hide-small" (click)="scrollTo('aktuelles')" href="javascript:void(0)">
      <i class="fa fa-user"></i> AKTUELLES
    </a>
    <a class="w3-bar-item w3-button w3-hide-small" (click)="scrollTo('angebote')" href="javascript:void(0)">
      <i class="fa fa-th"></i> ANGEBOTE
    </a>
    <a class="w3-bar-item w3-button w3-hide-small" (click)="scrollTo('uebermich')" href="javascript:void(0)">
      <i class="fa fa-user"></i> ÜBER MICH
    </a>
    <a class="w3-bar-item w3-button w3-hide-small" (click)="scrollTo('kontakt')" href="javascript:void(0)">
      <i class="fa fa-envelope"></i> KONTAKT
    </a>
  </div>

  <!-- Navbar on small screens -->
  <div
    id="navDemo"
    class="w3-bar-block w3-white w3-hide-large w3-hide-medium"
    [class.w3-hide]="!mobileMenuOpen"
    [class.w3-show]="mobileMenuOpen"
  >
    <a class="w3-bar-item w3-button" (click)="scrollTo('aktuelles')" href="javascript:void(0)">AKTUELLES</a>
    <a class="w3-bar-item w3-button" (click)="scrollTo('angebote')" href="javascript:void(0)">ANGEBOTE</a>
    <a class="w3-bar-item w3-button" (click)="scrollTo('uebermich')" href="javascript:void(0)">ÜBER MICH</a>
    <a class="w3-bar-item w3-button" (click)="scrollTo('kontakt')" href="javascript:void(0)">KONTAKT</a>
  </div>
</div>
