<div class="w3-container w3-padding-64 wave-top" id="aktuelles">
  <h3 class="w3-center">Aktuelles</h3>
  <h4 class="w3-center">Gruppenworkshops für Frauen</h4>
  <p class="w3-center">Die nächsten Termine sind:</p>
  <div class="w3-row">
    <div class="w3-center">
      <h4>2026</h4>
      <h5 class="no-margin-bottom">Reise zu deiner Körperweisheit</h5>
      Sonntag, 12. April<br />
      Sonntag, 31. Mai<br />
    </div>
  </div>
  <p class="w3-center">
    Weitere Informationen zu den Workshops findest du
    <a href="javascript:void(0)" (click)="scrollToGruppenworkshops()">hier</a>.
  </p>
  <br />
</div>
