<div class="w3-container w3-padding-16 peachy-background" id="kontakt">
  <h3 class="w3-center">KONTAKT</h3>
  <div class="w3-row w3-padding-32 w3-center">
    <div class="w3-center">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>
        2345 Brunn am Gebirge<br />
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>
        Telefonnummer: <a href="tel:+43 680 1283654">+43 680 1283654</a><br />
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>
        Email:
        <a href="mailto:atem.lebendigkeit@gmail.com">atem.lebendigkeit@gmail.com</a><br />
      </div>
    </div>
  </div>
</div>
